@page

@model Assignment5.Pages.BuyModel

@{

}

<h2>Your Cart</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th class="text-right">Price</th>
            <th>Subtotal</th>

        </tr>

        <tbody>
            @foreach(var line in Model.Cart.Lines)
            {
                <tr>
                    <td>@line.Book.Title</td>
                    <td>@line.Quantity</td>
                    <td>@line.Book.Price</td>
                    <td>@(line.Quantity * 25).ToString </td>
                </tr>
            }
        </tbody>
    </thead>
</table>