@{
    ViewData["Title"] = "Home Page";
}


@model  IQueryable<Book>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@foreach (var x in Model)
{
    <div>
        <h3>Title: @x.Title</h3>
        <p>Author: @x.Author</p>
        <p>Category: @x.Category</p>
    </div>
}